/* MEDIUM SCREEN STYLES */
@media (min-width: 750px) and (max-width: 1000px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    column-gap: 5px;
    grid-template-areas:
      "card1   card2"
      "card3   card4"
      "card5   card6";
  }
  .card {
    padding-right: 0.25rem;
  }
  #card1 {
    grid-area: card1;
  }
  #card2 {
    grid-area: card2;
  }
  #card3 {
    grid-area: card3;
  }
  #card4 {
    grid-area: card4;
  }
  #card5 {
    grid-area: card5;
  }
  #card6 {
    grid-area: card6;
  }
  .cardImageWrapper {
    width: 25vw;
    border: 2px solid white;
    display: flex;
  }
  #card2 .cardImageWrapper,
  #card4 .cardImageWrapper,
  #card6 .cardImageWrapper {
    grid-area: image;
  }
  #card2 .cardInfo,
  #card4 .cardInfo,
  #card6 .cardInfo {
    grid-area: info;
  }
}

/* LARGE SCREEN STYLES */
@media (min-width: 1001px) {
  section#mainCenteredImage {
    width: 100%;
    min-height: 200px;
    height: auto;
    background-image: url(../images/mainImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
  }
  .imageTitle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    transform: translate(0);
    transform: translateY(1.5em);
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "card1  card2  card3"
      "card4  card5  card6";
    gap: 5px 7px;
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: center;
    align-items: center;
  }
  .cardInfo {
    text-align: center;
  }
  #card1 {
    grid-area: card1;
  }
  #card2 {
    grid-area: card2;
  }
  #card3 {
    grid-area: card3;
  }
  #card4 {
    grid-area: card4;
  }
  #card5 {
    grid-area: card5;
  }
  #card6 {
    grid-area: card6;
  }
  .cardImageWrapper {
    width: 20vw;
    max-width: 400px;
    max-height: 200px;
    border: 5px solid var(--vLightBlue);
    transform: translateY(2rem);
  }
  .cardImage,
  #card4.cardImage,
  #card5.cardImage {
    margin: auto;
    width: 100%;
    height: 200px;
  }
  .cardTitle {
    transform: translateY(1.2rem);
  }
  .readPostButton {
    transform: translateY(-1rem);
    margin-bottom: 1rem;
  }
  #card2 .cardInfo,
  #card4 .cardInfo,
  #card6 .cardInfo {
    text-align: center;
  }
  .cardArticlePreview {
    margin: auto;
    padding: 1rem;
    transform: translateY(-1.5rem);
  }
}